@media (max-width: 1300px) {
    /* body {
        background-color: red;
        color: #f5f5f5;
      } */
      .playground{display:flex; flex-direction: column;}
      .navigation{width:100vw;height:120px;padding-top:20px;}
}